backend/*/*/__pycache__
backend/*/*/migrations
backend/*/.venv
backend/*/secrets
backend/*/*/*/*/__pycache__
backend/*/__pycache__
backend/*/.hypothesis
backend/*/.pytest_cache
backend/*/.benchmarks
backend/k8s/overlays/local/.env*