backend/fixieAuth/user_management/__pycache__
backend/fixieAuth/user_management/migrations
backend/fixieAuth/db.sqlite3
backend/fixieAuth/fixieAuth/__pycache__
backend/fixieAuth/.venv
backend/fixieAuth/db.sqlite3